.profile-container{
    padding: 2em 15%;
    height: 100%;
    min-height: calc(100vh - 12rem);
}

.profile-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
    border: 2px solid rgb(192, 192, 192);
    min-width: 315px;
}

.profile-section > :first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 30%;
}

.profile-section > :last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 68%;
    border-left: 2px solid rgb(175, 175, 175);
}

.profile-picture{
    width: 80%;
    min-width: 150px;
    max-width: 300px;
    padding: 3em 0;
}

.user-img{
    width: 100%;
    height: auto;
}


.below-pic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.rating-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-rating{
    width: 60px;
    height: auto;
    color: rgb(255, 175, 2);
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
    padding: 0.3em;
    margin-top: 1em;
}



.user-change-pic{
    width: 30px;
    height: auto;
    margin-left: auto;
    color: rgb(2, 120, 255);
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
    padding: 0.3em;
}

.form-area{
    padding: 2em;
}

.form-details{
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin: 1em 0 2em 0;
}

.form-details > *{
    flex: 1 1 30%
}

.form-details div input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid lightcoral;
    margin-top: 0.3em;
}

.details-edit{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

.details-edit .edit-icon{
    padding: 0.3em;
}

.edit-icon:hover{
    color: rgb(255, 175, 2);
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
}


.both-buttons{
    display: flex;
    width: 160px;
    margin-left: auto;
}
.button-details{
    width: 70px;
    border: none;
    background-color: lightcoral;
    color: white;
    padding: 0.2em;
    font-size: 0.7rem;
    margin-left: auto;
}

.button-details.cancelar{
    background-color: rgb(172, 172, 172);
}

.profile-Table{
    padding-top: 2em;
}

.listP-group{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    margin-top: 1em;
    padding: 1em;
    height: 100%;
    max-height: 300px;
    overflow: auto;
}

.listP-item{
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    padding: 1em;
    border-bottom: 1px solid lightcoral;
    margin-left: 0.2rem;
}

.listP-item:nth-child(1){
    font-size: 1rem;
    text-align: left;
    margin-left: 0;
}

.listP-item > :nth-child(1){
    flex-basis: 25%;
}

.listP-item > :nth-child(2){
    flex-basis: 15%;
}

.listP-item > :nth-child(3){
    flex-basis: 15%;
}

.listP-item > :nth-child(4){
    flex-basis: 20%;
}

.listP-item > :nth-child(5){
    flex-basis: 15%;
}

.listP-item > :nth-child(6){
    flex-basis: 10%;
}

.listP-item div input{
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}

.listP-item div input.editable{
    width: 70%;
    border-bottom: 1px solid rgb(75, 167, 0);
}

.button-div{
    display: flex;
}

.button-add{
    width: 70px;
    border: none;
    background-color: lightcoral;
    color: white;
    padding: 0.2em;
    font-size: 0.7rem;
    margin-left: auto;
}

.listP-item:hover{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.listP-item:first-child:hover{
    background-color: white;
    cursor: default;
}

.actions svg{
    padding: 0.1em;
    margin: 0 5px;
    
}

.actions svg:hover{
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
}

.actions svg:first-child:hover{
    color: rgb(255, 175, 2);
}

.actions svg:last-child:hover{
    color: rgb(180, 19, 5);
}

.new-container{
    margin-top: 2em;
}
.new-vehicle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    padding: 0.5em 0 1em 0;
}

.new-vehicle input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(75, 167, 0);
    outline: none;
    font-size: 0.9rem;
}

.new-vehicle > *{
    flex: 1 1 16%
}