@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Navbar */
.nav-list{
  background-color: rgb(192, 151, 148);
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 420px;

}

.nav-item{
  list-style: none;
  margin-right: 2rem;
  align-items: center;
}

.nav-item a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
}

.nav-item:nth-child(1){
  margin-right: auto;
  margin-left: 2rem;
  
}

.nav-item:nth-child(1) a{
  text-decoration: none;
  color: white;
  font-size: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-item:nth-child(1) a span{
  text-decoration: none;
  font-size: 2rem;
  margin-left: 1rem;
}

/* Modal User */
.dropdown-menu{
  width: 230px;
}

.btn-primary {
  color: #fff;
  background-color: transparent !important;
  border-color: transparent !important;
  outline: transparent !important;
  position: relative;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: transparent !important;
  border-color: transparent !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 !important;
}
.btn-primary.focus, .btn-primary:focus {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: 0 0 0 0 !important;
} 

a.modal-a{
  color: black;
  padding: 0;
}

a.modal-a:hover{
  color: black;
}

.modal-item{
  padding: 0.5em;
}

.modal-item:hover{
  cursor: pointer;
  background-color: rgb(221, 221, 221);
}


/* Content */
.content{
  height: 100%;
  min-height: calc(100vh - 12rem);
  margin: 0 2em;
}

/* Footer */ 
.footer{
  background-color: rgb(192, 151, 148);
  margin: 1em 1em 0 1em;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  color: white;
  align-self: flex-end;
  min-width: 420px;
}

.footer h6{
  margin: 0;
  padding: 0;
}