.list-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
    padding: 2em;
    margin-top: 2em;
}

.list-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
    font-size: 1.2rem;
    padding: 1em;
    border-bottom: 1px solid lightcoral;
    
}

.list-item:nth-child(1){
    font-size: 1.5rem;
}

.list-item > *{
    flex: 1 1 15%;
}

.list-item > :nth-child(3) {
    flex: 1 1 17%;
}

.list-item > :nth-child(4) {
    flex: 1 1 17%;
}

.list-item:hover{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.list-item:first-child:hover{
    background-color: white;
    cursor: default;
}