.DeliveriesSection{
    height: 100%;
    min-height: calc(100vh - 12rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    display: flex;
}

.DeliveryDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
}


.div-addresses{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
}

.div-addresses > :first-child{
    flex: 1 1 30%
}

.div-addresses > :last-child{
    flex: 1 1 70%;
}

.addresses-inp{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.addresses-inp input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid lightcoral;
    margin-bottom: 0.7em;

}


.confirm{
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}



.item-Table{
    width: 50%;
    min-width: 350px;
}


@media only screen and (max-width: 1060px) {
    .item-Table{
        width: 100%;
        min-width: 350px;
        margin: 0 auto;
    }
    .button-confirm{
        margin-top: 2em;
        margin: 2em auto;
    }
    
  }

.listP-group{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    margin-top: 1em;
    padding: 1em;
    height: 100%;
    max-height: 300px;
    overflow: auto;
}

.listP-item{
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    padding: 1em;
    border-bottom: 1px solid lightcoral;
    margin-left: 0.2rem;
}

.listP-item:nth-child(1){
    font-size: 1rem;
    text-align: left;
    margin-left: 0;
}

.listP-item > :nth-child(1){
    flex-basis: 30%;
}

.listP-item > :nth-child(2){
    flex-basis: 30%;
}

.listP-item > :nth-child(3){
    flex-basis: 25%;
}

.listP-item > :nth-child(4){
    flex-basis: 15%;
}

.listP-item div input{
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}

.listP-item div input.editable{
    width: 70%;
    border-bottom: 1px solid rgb(75, 167, 0);
}

.button-div{
    display: flex;
}

.button-add{
    width: 70px;
    border: none;
    background-color: lightcoral;
    color: white;
    padding: 0.2em;
    font-size: 0.7rem;
    margin-left: auto;
}

.button-check-map{
    margin-top: 2em;
    margin: 0 auto;
}

.button-confirm{
    margin-top: 2em;
    margin-left: auto;
}

.confirm-order{
    padding: 1em;
    border: none;
    outline: none;
    background-color: rgb(2, 161, 2);
    color: white;
    border-radius: 1em;
}

.listP-item:hover{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.listP-item:first-child:hover{
    background-color: white;
    cursor: default;
}

.actions svg{
    padding: 0.1em;
    margin: 0 5px;
    
}

.actions svg:hover{
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
}

.actions svg:first-child:hover{
    color: rgb(255, 175, 2);
}

.actions svg:last-child:hover{
    color: rgb(180, 19, 5);
}

.new-container{
    margin-top: 2em;
}
.new-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    padding: 0.5em 0 1em 0;
}

.new-item input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(75, 167, 0);
    outline: none;
    font-size: 0.9rem;
}

.new-item > *{
    flex: 1 1 16%
}

.both-buttons{
    display: flex;
    width: 160px;
    margin-left: auto;
}


.button-details{
    width: 70px;
    border: none;
    background-color: lightcoral;
    color: white;
    padding: 0.2em;
    font-size: 0.7rem;
    margin-left: auto;
}

.button-details.cancelar{
    background-color: rgb(172, 172, 172);
}



/* Waiting */
.DeliveriesSection.wait{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}

.DeliveriesSection.wait > *:nth-child(1) {
    flex: 1 1 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.DeliveriesSection.wait > *:nth-child(2) {
    flex: 1 1 55%;
}

.bouncer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100px;
}

.bouncer div{
    width: 20px;
    height: 20px;
    background-color: #0077ff;
    border-radius: 50%;
    animation: bouncer 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;
}

.bouncer div:nth-child(2){
    animation-delay: 0.1s;
    opacity: 0.8;
}
.bouncer div:nth-child(3){
    animation-delay: 0.2s;
    opacity: 0.6;
}
.bouncer div:nth-child(4){
    animation-delay: 0.3s;
    opacity: 0.4;
}

@keyframes bouncer {
    from { transform: translate(0);}
    to {transform: translateY(-100px);}
}

.DeliveriesSection.conf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.DeliveriesSection.conf .current_image{
    width: 100%;
}

.DeliveriesSection.conf img{
    width: 100%;
    height: auto;
    max-height: calc(100vh - 25rem);
}

.ConfirmDeliveryDetails{

    border: 1px solid lightcoral;
    border-radius: 15px;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.ConfirmDeliveryDetails > *{
    flex: 1 1 20%;
}




